<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Flower Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>

                    <li>@Html.ActionLink("Order", "Index", "Order")</li>

                    <li>@Html.ActionLink("Product", "Index", "Product")</li>

                    <li>@Html.ActionLink("Order_Product", "Index", "Order_Product")</li>

                </ul>
            </div>
        </div>
    </div>

    <div style="position:relative ; width:10px; height: 10px; background-color:white; left :0px; top: 0px;" class="square"></div>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    var globalCallback;

    function animateSquare() {
        const width = $(window).width() - 10;
        const heigth = $(window).height() - $(".navbar.navbar-inverse.navbar-fixed-top").height() - 10;
        $(".square")
            .animate({ left: width }, 2000)
            .animate({ top: heigth }, 2000)
            .animate({ left: 0 }, 2000)
            .animate({ top: 0 }, 2000, animateSquare);

        if (globalCallback)
            globalCallback();
        else
            globalCallback = function () {
                console.log("callback");
            };

    }


    $(document).ready(function () {
        animateSquare();
    });
</script>
